* {
  margin-top: 2%;
}
body {  
  background-color: rgb(184, 202, 225);
}
h1 {    
  text-align: center;

}
 h2 {
  text-align: center;
 
}
img {
  border-radius: 20px;  
  
}
#fundoBranco {
  background: white;
  width: 300px;
  padding: 50px;
  padding-right: 330px;
  border-radius: 20px;
  margin: 30px auto;
  
}

h1 {
  color: darkblue;
}
h2 {
  color: rgb(104, 107, 107);
}
.central {
  margin-left: 15px;
  width: 550px;

}
.attribution { 
  text-align: center;
}

   
   

  


